
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200&display=swap');
* {
    color: #555555;
    transition: 0.4s;
    scroll-behavior: smooth;
    text-align: left;
    
}
:root {
    --search: #e4e4e4;
    --border: #d3d3d3;
}
*{
    font-family: "Roboto", sans-serif;
}
p {
    line-height: 2;
}
h2 {
    font-weight: 400;
    font-size: 1em;
}
/* navbar */
body{
    margin: 0;
    padding: 0;
    background-color: rgb(245, 245, 245);
    font: 14px sans-serif;
    text-align: center;
}
tr {
    border: 1px black solid
}
th {
    text-align: left;
  }
.shadow{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.navbar {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    padding-top: 10px;
    height: 55px;
    z-index: 1;
    border-bottom: #d3d3d3  1px solid;
}
.navWidth {
    width: 60%;
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    padding-top: 10px;
    height: 55px;
    z-index: 1;

}
.navbar-icon {
    width: 40px;
}
.left-navbar {
    margin-left: 20%;
}
.right-navbar {
    position: absolute;
    right: 0;
    margin-right: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
@keyframes modalIntro {
    0% {
        transform: scale(1.5);
    }
    40% {
        transform: scale(1.10);
    }
    100% {
        transform: scale(1)
    }
}
#modalParent {
    width: 100%;
    height: 100vh;
    background-color: rgb(0,0,0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}
#modalChild {
    overflow: hidden;
    position: absolute;
    height: 80vh;
    width: 40vw;
    border-radius: 20px;
    background-color: rgb(245, 245, 245);
    margin-left: 30vw;
    margin-top: 10vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#modalChild label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modalTitleDiv{
    z-index: 100;
    width: 100%;
    text-align: center;
    border-bottom: #d3d3d3 1px solid;
}
.modalTitle {
    font-size: 15px;
    text-align: center;
}
#picturePreview {
    position: absolute;
    height: 80vh;
    /*sentrer bildet av en eller annen grunn*/
    position: absolute;
    left: -9999px;
    right: -9999px;
    margin: auto;
    font-weight: bold;
}
.preview{
    width: 100%;
    text-align: center;

}
#uploadPicture {
    position: absolute;
    background: none;
	color: rgb(168, 168, 168);
	border: none;
	padding: 0;
	font: inherit;
    font-size: 14px;
	cursor: default;
	outline: inherit;
    right: 15px;
    top: 12px;
}
#uploadPicture:hover {
    cursor: default;
}
.menu {
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}
.whitespace {
    height: 100px;
    width: 100%;
}
.bottomWhiteSpace {
    width: 100%;
    height: 15px;
}
.searchForm {
    width: auto;
}
#search{
    background-color: #e4e4e4 ;
    border-radius: 10px;
    border: #b9b9b9 1px solid;
    height: 40px;
    display: flex;
    margin-left: 23px;

}
.search {
    padding-top: 10px;
    background-color: #e4e4e4;
    -webkit-appearance: none;
    margin: 0;
    padding: 0;
    outline: none;
    height: 15px;
    border-radius: 10px;
    border: none;
    height: auto;
    font-size: 16px;
    width: 90%;
    transition: 1s;
}
.searchText {
    transition: 1s;
}
#søkeBildet {
    width: 40px;
    height: 26px;
    margin: auto 0 auto 0;
}
/* en av "de"*/
.pfpRadius {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid #d3d3d3  1px;
    overflow: hidden;
    background-color: white;
    margin: auto;
    margin-top: 10px;
}
.pfpRadius:hover {
    cursor: pointer;
}
.dropContainer {
    flex-direction: column;
    display: flex;
}
.dropElement {
    padding: 0.5em;
    padding-right: 2em;
    padding-left: 2em;
    text-align: left;
    font-size: 14px;
    text-decoration: none;
    z-index: 100;
}
.dropElement:hover {
    background-color: #e4e4e4;
}
.dropElement:first-child {
    padding-top: 1em;
}
.dropElement:last-child {
    border-top: 1px #d3d3d3  solid;
    padding-bottom: 1em;
}

#pfpRadius:hover {
    cursor: pointer;
}

#dropDown {
    flex-direction: column;
    display: none;
    position: fixed;
    background-color: white;
    top: 0;
    margin-top: 70px;
    margin-right: 20%;
    right: 0;
    z-index: 1; 
    border-radius: 5px;
}
.successful {
    color: #54f054;
    font-weight: normal;
}

.logo {
    width: 200px;
}
.profilBildet {
    width: 30px;
    height: 30px;
    display: inline-block;
}

span {
    color: #111111;
    font-weight: bolder;
}
.bilder {
    width: 355px;
    height: 200px;
    display: flex;
    flex-direction: row;
    margin: 10px;
    border: 1px solid rgb(0,0,0, 0.3);
    transition: 0.4s ease;
    overflow: hidden;
    

}

.middle{
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 20%;

}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
    padding-bottom: 30px;
    
}
.containerBody {
    width: 60%;
    margin: auto;
    
}
#pong {
    text-align: left;
    margin: auto;
    justify-content: space-between;
}
div, h1 {
    font-size: 20px;
}
.note {
    font-size: 12px;
}
.profileNote {
    width: 30%;
    text-align: left;
    margin-left: 10%;

}
td, th {
    padding: 8px;
    border-collapse: collapse;
    border: #555555 solid 1px;

}
table {
    justify-content: left;
    border-collapse: collapse;
    width: 100%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bigPfpRadius {
    background-color: white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 10%;
    border: 1px #d3d3d3  solid;
}

.bigPfp {
    width: 150px;
    height: 150px;
}
.blackbox {
    opacity: 0;
    background-color: black;
    position: absolute;
    width: 355px;
    height: 200px;
    transition: 0.1s;

}
.blackbox:hover {
   opacity: 0.5;
}

.description {
    margin-left: 20%;
    text-align: left;
}

.inline {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
    text-align: left;
}
div label {
    font-size: 16.5px;
}
.edit {
    position: absolute;
    border: 1px solid #d3d3d3 ;
    padding: 0.2em;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 15px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
#likedOrOwn {
    margin-left: 130px;
}
.edit:hover {
    text-decoration: none;
}
#gameScreen {
    border: 1px solid black;
}

.edit:hover {
    cursor: pointer;
}

#highscore {
    display: none;
}

.center {
    text-align: center;
    justify-content: center;
    margin: auto;
}
.underline {
    border-bottom: #d3d3d3  1px solid;
}
#highscoreTable tr:nth-child(even){
    background-color: #e7e7e7;
}


#highscoreTable tr:hover {background-color: #ddd;}

.register {
    border: 1px #d3d3d3  solid;
    background-color: white;
    margin: auto;
    width: 384px; /*samme som width 20%*/

}
.register * {
    text-align: center;
}
.input {
    width: 55%;
    -webkit-appearance: none;
    margin: 5px;
    border: 1px solid #d3d3d3 ;
    outline: none;
    height: 30px;
    border-radius: 4px;
    font-size: 15px;
}

#uploadInput {
    display: none;
}
.submit {
    width: 56.5%;
    border: none;
    background-color: #0095f6;
    color: white;
    border-radius: 4px;
    margin-top: 20px;
}
.submit:hover {
    background-color: #0483d8;
    cursor: pointer;
}
#fileUpload {
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
}
#pfpSubmit {
    width: 51%;
}
input[type = "text"], input[type = "password"] {
    text-align: left;
}
input[type = "text"]::placeholder, input[type = "password"]::placeholder{
    font-size: 12px;
    text-align: left;
}
input[type = "submit"]:hover {
    /* background-color: #0483d8;
    cursor: pointer; */
}
.inputDiv {
    margin: 5%;
}
.gap {
    margin-top: 20px;
}
.link {
    -webkit-appearance: none;
    color: #0095f6;
    text-decoration: none;
}
.profileEdit {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}
#deleteUser {
    background-color: rgb(255, 85, 85);
    color: white;

}
#deleteUser:hover {
    background-color: red;
}
.file {
    margin-left: 15%;
}
#editPfp {
    margin-left: 30%;
}
#profileSubmit {
    width: 59%;
    margin-left: -0.1%;
}
#invisable {
    display: none;
}
.invisable {
    display: none;
}
.innlegg {
    background-color: white;
    width: 600px;
    margin: auto;
    margin-top: 30px;
    overflow: hidden;
    border: 1px solid #d3d3d3 ;
}
.profilInnlegg {
    text-align: left;
    margin-left: 20px;
}
.alignLeft {
    text-align: left;
}
.row {
    flex-direction: row;
    display: flex;
}
.bildetOverflow {
    background-color: white;
    height: 500px;
    overflow: hidden;
}
.bildetInnlegg {
    width: 100%;
}
.addComment {
    width: 100%;
    border-top: 1px solid #d3d3d3 ;
}
.newComment {
    width: 80%;
    border: none;
    padding: 12px;
    margin-left: 10px;
    outline: none;
}
.brukerBildet {
    position: absolute;
    margin-left: 60px;
    margin-top: 15px;
    color: black;
}
input[type = "submit"]:disabled {
    background-color: #d3d3d3 ;
}
.kommentarer {
    height: 50px;
}

/* veldig repetetiv kode rn*/
.kommentar {
    position: absolute;
    font-size: 15px;
    margin-left: 40px;
}  

.kommentarPfp {
    width: 20px;
    display: inline-block;
}
.kommentarPfpRadius {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid #d3d3d3  1px;
    overflow: hidden;
    background-color: white;
    margin: auto;
    margin-left: 10px;
    cursor: pointer;
    position: absolute;
    margin-top: 13px;

}
.pointer {
    cursor: pointer;
}
.hjerte {
    width: 30px;
    margin: 10px

}

/*chat */
.inbox {
    width: 25%;
    height: 500px;

}
.pointer:hover{
    cursor: pointer;
}

/* resultat på søk */


.result{
    width: 100%;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;

}
.result:hover{
    background-color: rgb(207, 207, 207, 0.4);
    cursor: pointer;
}
.brukerSøk {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 50px;

}
.desc, .bruker {
    margin: 0;
    padding: 0;
}
.light {
    color: #888888;
    font-weight: 400;
}

/*brukerstøtte*/
.supportTitle, .supportDescription {
    -webkit-appearance: none;
    outline: none;
    border: none;
    background-color: rgb(245, 245, 245);
}
.supportLabel{
    margin-top: 10px;
    font-size: 20px;
}

.yourTickets{
    border-bottom: 2px solid #d3d3d3;

}
.yourTickets:hover{
    cursor: pointer;
    background-color: rgb(207, 207, 207, 0.4);
}
.ticketTitle {
    margin-top: 0;
}
.ticketTableTitle {
    color:#0095f6;
    font-weight: 500;
}
.ticketTable * {
    border: none;
    font-size: 15px;

}
.ticketTable tr {
    border-bottom: 1px solid #d3d3d3;
}
.ticketTable th {
    background-color: rgb(207, 207, 207);
}
.ticketTable tr:hover {
    cursor: pointer;
    background-color: rgb(207, 207, 207, 0.4);
}
.ticketDesc {
    font-size: 14px;
}
.ticketPfp {
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
}
.ticketActualPfp {
    width: 50px;
    height: 50px;
}
.writer {
    width: 5%;
    display:flex;
    flex-direction: row;
    margin-top: 20px;
}
.writer *{
    margin: auto;
}
.thread {
    width: 100%;
    margin-left: 20px;
    margin-right: 40px;
}

.containerBody h4{
    margin-top: -10px;
    padding-bottom: 10px;
    border-bottom: solid #d3d3d3 1px;
    color: #d3d3d3;
    font-size: 13px;
    font-weight: 500;
}
.threadDiv {
    width: 98%;
    margin: auto;
}
.thread h5{
    margin-top: 16.5px;
}
.thread p{
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 15px;
    line-height: 2;
}
.thread textarea {
    width: 100%;
}
textarea {
    border: 1px solid #d3d3d3;
    -webkit-appearance: none;
    outline: none;

}
h5 span {
    font-weight: 400;
    color: #d3d3d3;
    font-size: 13px;
}
.status {
    display: inline-block;
    border-radius: 7px;
    margin: 0;
    padding: 3px 12px 5px 12px;
    color: rgb(240, 240, 240);
}
.reply {
    background-color:#1EB848;
}
.open {
    background-color: #E03B2E;
}
.solved {
    background-color: #999999;
}
.createTicket {
    background-color: #0095f6;
    color: white;
    text-decoration: none;
    border-radius: 7px;
    padding: 2px 6px 4px 6px;
    margin: none;
    font-size: 17px;
}
/* faq */
.faq {
    background: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.faqArticle {
    margin: 2%;
    padding-top: 10px;
}
.faqTitle {
    font-size: 35px;
    padding: 0;
    margin: 0;
    margin-left: 20px;
    font-weight: lighter;
}
.faqP {
    font-size: 14px;
}
.createButton {
    color: white;
    background-color: #0095f6;
    display: block;
    width: 65px;
}
.createButton:hover {
    cursor: pointer;
    background-color: #0483d8;
    
}
input[name="pictureAmount"]  {
    width: 30px;
}
.faqPic {
    width: 100%;
    margin-top: 30px;
    margin-left: 0;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
    margin-bottom: 10px;
    
}
ol, li {
    margin-left: 20px; 
    padding: 0;
}

.faqSearch {
    border: none;
    font-size: 15px;
    position: absolute;
    left: 50%;
    top: 31.3%;
    height: 40px;
    width: 400px;
    text-align: center;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: bolder;
    transform: translate(-50%, -25%); 
}
label.faqSearch{
    margin-top: 3px;
    font-size: 20px;
    font-weight: bolder;
    pointer-events: none;
}
#faqLabel {
    font-size: 20px;
}
.faqSearch:focus {
    outline: none;
}
.faqSearch:hover {
    cursor: text;
}
.faqBackground {
    width: 100%;
    background: url(../bilder/htmlBilder/faq.jpg);
    background-size: 100%;
    height: 500px;
    background-repeat: no-repeat;
}
.addFaq {
    position: absolute;
    margin-left: 58.5%;
}












